simulation/imdb_review/
cluster_setup/lina-IAM-keypair.pem
simulation/kafkaProducerTime.notBackUp
spark_streaming/designs
spark_streaming/project/plugins.sbt
.DS_Store
Untitled copy.mov
demoVideo.mov
spark_streaming/src/main/scala/#clusterInfo.txt#
spark_streaming/src/main/scala/.#clusterInfo.txt
*~